# Added libraries for compatibility
selenium
matplotlib
numpy
scipy
scikit-learn
networkx
tqdm
pandas
sentence-transformers
Levenshtein
requests
geopandas
pycountry
python-dotenv
beautifulsoup4
bibtexparser
wordcloud
pillow
seaborn
