# Added libraries for compatibility
selenium
matplotlib
numpy
scipy
scikit-learn
networkx
tqdm
pandas
sentence_transformers
Levenshtein
requests
geopandas
pycountry
python-dotenv
bs4
bibtexparser
wordcloud
pillow
